

header {
    background-image: url(../images/apple-pie.jpg);
    font-family: Helvetica, Sans-Serif;
    color:aliceblue;
    font-size: 100px;
    text-align: center;
    padding: 300px;
    border: 0px;
    
}