
header {
    background-image: url(../images/apple-pie.jpg);
    font-family: "Copperlate", monospace;
    color:rgb(255, 255, 255);
    font-size: 100px;
    text-align: center;
    padding: 300px;
    background-size: cover;
    margin-bottom: 50px;
    border-radius: 5px;
}

div {
    font-family: "Copperlate", monospace;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: justify;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: "Copperlate", monospace;
    font-size: 30px;
    margin-left: 150px;
}

.list{
    font-family: "Copperlate", monospace;
    font-size: 25px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
}

hr {
    margin-left: 150px;
    margin-right: 150px;
}
